DOCTYPE(html)
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title EpicMediaHub
        link(rel='stylesheet', href='/styles.css')
        //link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0")
    body
        header
            .logo EpicMediaHub
            .links
                a(href='/media') Browse
                a(href='/media/search') Search

                a(href='/clubs') Clubs
                a(href='/user/library') My Library
                a(href='/user/profile') My Profile
            .login
                a(href=(user ? '/user/logout' : '/user/login')) #{user ? "Logout" : "Login/Sign Up"}
        div.cwrapper
            block content 
