extends ../layout.pug


block content
    nav(class="flex nav")
        h1(class="h1 mb-0") Please confirm your account deletion
        button(id='deleteUserBtn' value='Confirm') Confirm


    script.
        document.getElementById('deleteUserBtn').addEventListener('click', function () {

            // Perform the HTTP DELETE request
            fetch('/user/deleteUser', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                }
            }).then(res => {
                    // if (!response.ok) {
                    //     throw new Error('Network response was not ok');
                    // }
                    // alert('Account Deleted!')
                    // response.redirect('/user/login')
                    if (res.ok) {
                        alert("Account Deletion Successful!")
                        window.location.href = '/user/logout'
                    }
                })
        });




