extends userLayout


block content
    nav(class="flex nav")
        h1(class="h1 mb-0") Login
        form(action='/user/login' method='POST')
            label Email:
            input(type='email' name='email' required)
            label Password:
            input(type='password' name='password' required)
            input(type='submit' value='Login')

    if message[0] != null
        p #{message[0]}
    else
        p Howdy!
