extends ../layout.pug

block content
    nav(class="flex nav")
        h1(class="h1 mb-0") Profile
        p Welcome #{user.user}!

        a(href='/user/updateUser') Update Account
        br
        a(href='/user/deleteUser') Delete Account
