extends ../layout.pug

block content
    div.register-box
        h1 Register
        form(action='/user/register' method='POST')
            label Email:
            div.input-box
                input(type='email' name='email' required)
            label Name:
            div.input-box
                input(type='text' name='name' required)
            label Password:
            div.input-box
                input(type='password' name='password' required)
            label Postal Code:
            div.input-box
                input(type='text' name='postalCode' required)
            label City:
            div.input-box
                input(type='text' name='city' required)
            label Province:
            div.input-box
                input(type='text' name='province' required)
            button.btn(type='submit') Register
