extends ../layout.pug


block content
    div.update-info-box
        h1(class="h1 mb-0") Update your Information
        form(action='/user/updateUserName' method='POST')
            label New Name:
            div.entry-box
                input.input-box(type='text' name='name' required)
                div.save-box
                    button.btn(type='submit') Save

        form(action='/user/updateUserPassword' method='POST')
            label New Password:
            div.entry-box
                input.input-box(type='password' name='password' required)
                div.save-box
                    button.btn(type='submit') Save




