body {
	font-family: Univers,-apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',sans-serif;
	font-size: .9rem;
	font-weight: 450;
	font-stretch: 95%;
	color: #000;
	text-rendering: optimizeLegibility;
    background-image: linear-gradient(270deg, rgba(217, 204, 204, 0.5), rgba(245, 245, 245, 0.5));
}

/*
Colors
Yellow: rgba(242, 220, 155, 1)
LightBrown: rgba(166, 110, 3, 1)
DarkBrown: rgba(140, 116, 70, 1)
DarkSkin: rgba(217, 188, 154, 1)
LightSkin: rgba(242, 229, 213, 1)

 */

header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 25px 25px;
    align-items: center;
    border-radius: 15px;
    background-image: linear-gradient(270deg, rgba(218, 50, 50, 0.5), rgba(201, 176, 130, 0.5));
}



.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links a {
    margin: 0 20px;
    text-decoration: none;
    color: #000;
}

/* Default styles for the cwrapper div */
.cwrapper {
  max-width: 800px; /* Set your desired maximum width */
  margin: 0 auto;
  display: flex;
  align-content: center;
  flex-direction: column;
  padding: 20px;    /* Add padding for better readability, adjust as needed */
}


/* Login page */
.login-box{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    color: rgba(140, 116, 70, 1);
    background-color: rgba(242, 229, 213, 1);
    border: 3px solid rgba(140, 116, 70, 1);
    border-radius: 10px;
    padding: 20px 30px;
}

.login-box h1{
    font-size: 32px;
    text-align: center;
}

.login-box .input-box{
    width: 100%;
    height: 30px;
    margin: 10px 0;
}

.input-box input {
    width: 290px;
    height: 100%;
    background: white;
    outline: none;
    border: 3px solid rgba(140, 116, 70, 1);
    border-radius: 8px;
}

.input-box i{
    position: relative;
    left: 272px;
    bottom: 29px;
}

.login-box .btn{
    width: 100%;
    height: 45px;
    border-radius: 8px;
    border: 3px solid rgba(140, 116, 70, 1);
    cursor: pointer;
    font-weight: 600;

}

/* Search Page */
.search-page{
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: 50px;
    color: rgba(140, 116, 70, 1);
}

.search-page .form-control{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid rgba(140, 116, 70, 1);
}

.search-page i{
    position: relative;
    left: 520px;
    bottom: 53px;
    scale: 200%;
}

/* Registration page */
.register-box{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    color: rgba(140, 116, 70, 1);
    background-color: rgba(242, 229, 213, 1);
    border: 3px solid rgba(140, 116, 70, 1);
    border-radius: 10px;
    padding: 20px 30px;
    align-items: center;
}

.register-box .input-box{
    height: 25px;
    margin-bottom: 15px;
}

.register-box .btn{
    width: 100%;
    height: 45px;
    border-radius: 8px;
    border: 3px solid rgba(140, 116, 70, 1);
    cursor: pointer;
    font-weight: 600;

}

/* Information Update */
.update-info-box{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    color: rgba(140, 116, 70, 1);
    background-color: rgba(242, 229, 213, 1);
    border: 3px solid rgba(140, 116, 70, 1);
    border-radius: 10px;
    padding: 20px 30px;
    align-items: center;
}


.entry-box .input-box{

    width: 390px;
    height: 25px;
    background: white;
    outline: none;
    border: 3px solid rgba(140, 116, 70, 1);
    border-radius: 8px;
}

.entry-box .save-box{
    position: relative;
    left: 340px;
    bottom: 33px;
}

.entry-box .btn{
    width: 60px;
    height: 33px;
    border-radius: 8px;
    border: 3px solid rgba(140, 116, 70, 1);
    cursor: pointer;
    font-weight: 600;

}

/* Profile Page */

.profile-page {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    color: rgba(140, 116, 70, 1);
    background-color: rgba(242, 229, 213, 1);
    border: 3px solid rgba(140, 116, 70, 1);
    border-radius: 10px;
    padding: 20px 30px;
    align-items: center;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  .cwrapper {
    max-width: none; /* Remove the maximum width for smaller screens */
  }
}

.addlibrary {
    max-width: 150px;
}

/*TABLE STYLES*/

table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	text-align: left;
	border: .1rem solid #bfbfbf;
}

thead {
    color: black;
    background-color: #eee;
    border-color: #000;
    border-style: solid;
    box-sizing: inherit;
    border-width: 1px;
    padding: 4px;
}

table th {
	font-weight: 600;
	padding: .3rem .6rem .3rem;
	border-bottom: .1rem solid #000;
}

table td {
	padding: .15rem .6rem .15rem;
	border-bottom: .1rem solid #bfbfbf;
    vertical-align: middle;
}

/*SEARCH STYLES*/

.form-control {
    margin-bottom: 1rem;
}
