body {
	font-family: Univers,-apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',sans-serif;
	font-size: .9rem;
	font-weight: 450;
	font-stretch: 95%;
	color: #000;
	text-rendering: optimizeLegibility;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.logo {
    font-weight: 600;
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links a {
    margin: 0 20px;
}

.login {
}
