extends ../layout.pug

block content
    nav(class="flex nav")
        h1(class="h1 mb-0") Search
    input.form-control(type="text" name="search" placeholder='Begin Typing To Search Media...' hx-post='/api/media/search' hx-trigger='input changed delay:500ms, search' hx-target='#search-results', hx-swap="outerHTML")

    table
          thead
                tr
                    th Type
                    th Title
                    th Date
          tbody(id="search-results" hx-target="closest tr")
