extends ../layout.pug

block content
    h2 Authors

    table
        thead
            tr
                th ID
                th Name
                th Books Written
        tbody
            each author in authors
                tr
                    td= author[0]
                    td= author[1]
                    td= author[2]
